@using EnterpriseApp.WebApp.MVC.Extensions
@model EnterpriseApp.WebApp.MVC.Models.OrderViewModel

@{
    ViewData["Title"] = "Order Confirmed!";
}

<section class="padding-y">
    <div class="container">

        <vc:Summary></vc:Summary>

        @{
            if (Model.OrderItems.Any())
            {
                <div class="card">
                    <div class="tracking-wrap">
                        <div class="step active">
                            <span class="icon">
                                <i class="fa fa-location-arrow"></i>
                            </span>
                            <span class="text"> Address</span>
                        </div>
                        <div class="step active">
                            <span class="icon">
                                <i class="fa fa-credit-card"></i>
                            </span>
                            <span class="text"> Payment </span>
                        </div>
                        <div class="step active">
                            <span class="icon">
                                <i class="fa fa-check-square"></i>
                            </span>
                            <span class="text"> Confirmation</span>
                        </div>
                    </div>
                    <article class="card-body">
                        <header class="mb-4">
                            <h4 class="card-title">Pedido concluído com sucesso!</h4>
                        </header>
                        <div class="row">
                            @{
                                foreach (var item in Model.OrderItems)
                                {
                                    <div class="col-md-6">
                                        <figure class="itemside  mb-3">
                                            <div class="aside">
                                                <img src="~/images/produtos/@item.Image" alt="@item.Name" class="border img-xs">
                                            </div>
                                            <figcaption class="info">
                                                <p>
                                                    <b>@item.Name</b>
                                                </p>
                                                <span>@this.UnitiesPerProductTotalPrice(item.Quantity, item.Price) </span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                }
                            }

                        </div>
                    </article>

                    <header class="card-header">
                        <h3 class="d-inline-block mr-3">Number Code: #@Model.Code</h3>
                    </header>
                    <article class="card-body border-top">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h6 class="text-muted">Delivery Address: </h6>
                                    <p>
                                        @Model.Address.ToString()
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-muted">Payment</h6>
                                    <span class="text-success">
                                        <i class="fas fa-credit-card"></i>
                                        Credit Card Transaction
                                    </span>
                                    <p>
                                        <span class="b">Total:  @this.FormatCurrency(Model.TotalPrice)</span>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </article>

                    <div class="card-body border-top">
                        <div class="text-left">
                            <a asp-controller="Orders" asp-action="MyOrders" class="btn btn-primary float-md-right"> My Orders <i class="fa fa-chevron-right"></i> </a>
                        </div>
                    </div>

                </div>
            }
        }
    </div>
</section>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}